<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">BURNDOWN CHART</h1>
    </div>
    <!-- <div class="col-lg-2 sidebar-sticky">
          </div> -->
  </div>
  <div class="row">
    <div class="col">
      <!-- <div style="display: block" *ngIf="isChartReady"> -->
      <div style="display: block" *ngIf="isChartReady">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" style="background-color: whitesmoke">
        </canvas>
      </div>
    </div>
  </div>
</div>