<div class="container">
  <h3>Créer un compte</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="email"> Email</label>
      <input
        type="text"
        class="form-control"
        id="sign-up-email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="password"> Mot de passe</label>
      <input
        type="password"
        class="form-control"
        id="sign-up-password"
        formControlName="password"
      />
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="signUpForm.invalid"
    >
      Créer
    </button>
  </form>
</div>
