
 .st0 {
    fill: #EEEDF2;
}

.st1 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #EFC12F;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #FCF5F2;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #FCF5F2;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #1E247E;
}

.st8 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #EAB8B1;
}

.st10 {
    fill: #DC9695;
    stroke: #1E247E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #EECED1;
    stroke: #1E247E;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #CB7272;
    stroke: #1E247E;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #D3D5E7;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #D3D5E7;
}

.st15 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #ECECEE;
}

.st18 {
    fill: #DA867D;
    stroke: #1E247E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #FCF5F2;
    stroke: #1E247E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #69AEF8;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st21 {
    opacity: 0.4;
    fill: #FFFFFF;
}

.st22 {
    opacity: 0.7;
    fill: #FFFFFF;
}

.st23 {
    fill: #69ADF7;
    stroke: #1E247E;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st24 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st25 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #F0C330;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st27 {
    opacity: 0.3;
}

.st28 {
    fill: #FFFFFF;
}

.st29 {
    fill: #79CAA1;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st30 {
    fill: #DA867D;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st31 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st32 {
    fill: #DBE7FE;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st33 {
    fill: #F2F3F3;
}

.st34 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st35 {
    fill: #DBE7FE;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st36 {
    fill: #EFC230;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st37 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st38 {
    fill: #F0C330;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st39 {
    fill: #79CAA1;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st40 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st41 {
    fill: #DA867D;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st42 {
    fill: #DBE7FE;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st43 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st44 {
    opacity: 0.7;
}

.st45 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st46 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st47 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st48 {
    fill: #DBE7FE;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st49 {
    opacity: 0.1;
    fill: #BDBDBD;
}

.st50 {
    fill: #69AEF8;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st51 {
    fill: #79CAA1;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st52 {
    fill: #D2D4E6;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st53 {
    fill: #69AEF8;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st54 {
    opacity: 0.2;
    fill: none;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st55 {
    fill: none;
    stroke: #1E247E;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st56 {
    fill: #69AEF8;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st57 {
    fill: #DBE7FE;
}

.st58 {
    fill: #FFFFFF;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st59 {
    fill: #D9857D;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st60 {
    fill: none;
    stroke: #D3D5E7;
    stroke-width: 4.7904;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st61 {
    fill: #D2D4E6;
    stroke: #D3D5E7;
    stroke-width: 4.7904;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st62 {
    fill: #D2D4E6;
    stroke: #D3D5E7;
    stroke-width: 5.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st63 {
    fill: none;
    stroke: #D3D5E7;
    stroke-width: 5.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st64 {
    fill: #79CAA1;
}

.st65 {
    fill: #F0C330;
}

.st66 {
    fill: #79CAA1;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st67 {
    opacity: 0.8;
    fill: #FFFFFF;
}

.st68 {
    fill: #DA867D;
    stroke: #1E247E;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st69 {
    fill: #F0C330;
    stroke: #1E247E;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st70 {
    fill: #D2D4E6;
}

.st71 {
    fill: #EEBDBC;
    stroke: #D3D5E7;
    stroke-width: 5.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st72 {
    fill: #D3D5E7;
    stroke: #D3D5E7;
    stroke-width: 5.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.svg-picture{
    width: 100%;
    display: flex;
    justify-content: center;
}
svg{

    &#Layer_1
    {
        height:120px;
        width: 120px;
    }

    &#Page-1{
        height:90px;
        width: 90px;
    }
}

.trello-btn{
    padding: 1.2em .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        font-size: .9rem;
        border-radius: 57px;
        color: white;
        background-color: #487CC9;
        text-align: center;
        padding: 1em 2em;
    }
}